<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>単価登録</title>
</head>
<body>
    <h1>単価登録</h1>
    
    <form action="/download" method="post">
    <!-- <form action="#" method="post"> -->
    <!-- 日付 -->
    <span id="today"></span>
    <!-- 営業担当 -->
    <p>営業担当：<input type="text" name="sales"></p>
    <!-- 事務担当 -->
    <p>事務担当：<input type="text" name="jimu"></p>

    <table>
        <tr>
            <th>単価グループ</th>
            <th>得意先名</th>
            <th>仕入先</th>
            <th>商品CD</th>
            <th>商品名</th>
            <th>売単価</th>
            <th>実売価</th>
            <th>仕入単価</th>
            <th>実仕入</th>
            <th>補填単価</th>
            <th>粗利率</th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group1"></th>
            <th><input type="text" name="customer1"></th>
            <th><input type="text" name="maker1"></th>
            <th><input type="text" name="code1"></th>
            <th><input type="text" name="product1"></th>
            <th><input type="text" name="tanka1"></th>
            <th><input type="text" name="jistutanka1"></th>
            <th><input type="text" name="tatene1"></th>
            <th><input type="text" name="tokune1"></th>
            <th><input type="text" name="hoten1"></th>
            <th><div id="margin1"></div></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group2"></th>
            <th><input type="text" name="customer2"></th>
            <th><input type="text" name="maker2"></th>
            <th><input type="text" name="code2"></th>
            <th><input type="text" name="product2"></th>
            <th><input type="text" name="tanka2"></th>
            <th><input type="text" name="jistutanka2"></th>
            <th><input type="text" name="tatene2"></th>
            <th><input type="text" name="tokune2"></th>
            <th><input type="text" name="hoten2"></th>
            <th><div id="margin2"></div></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group3"></th>
            <th><input type="text" name="customer3"></th>
            <th><input type="text" name="maker3"></th>
            <th><input type="text" name="code3"></th>
            <th><input type="text" name="product3"></th>
            <th><input type="text" name="tanka3"></th>
            <th><input type="text" name="jistutanka3"></th>
            <th><input type="text" name="tatene3"></th>
            <th><input type="text" name="tokune3"></th>
            <th><input type="text" name="hoten3"></th>
            <th><div id="margin3"></div></th>
        </tr>
    </table>


    <button type="submit">Excelにダウンロード</button>
</form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tanka.js') }}"></script>


</body>

</html>