<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>単価登録</title>
</head>
<body>
    <h1>単価登録</h1>
    
    <!-- <form action="#" method="post"> -->
    <!-- 日付 -->
    <span id="today"></span>
    <!-- 営業担当 -->
    <p>営業担当：<input type="text" name="sales"></p>
    <!-- 事務担当 -->
    <p>事務担当：<input type="text" name="jimu"></p>

    <table>
        <tr>
            <th>単価グループ</th>
            <th>得意先名</th>
            <th>仕入先</th>
            <th>商品CD</th>
            <th>商品名</th>
            <th>売単価</th>
            <th>実売価</th>
            <th>仕入単価</th>
            <th>実仕入</th>
            <th>補填単価</th>
            <th>粗利率</th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group1"></th>
            <th><input type="text" name="customer1"></th>
            <th><input type="text" name="maker1"></th>
            <th><input type="text" name="code1"></th>
            <th><input type="text" name="product1"></th>
            <th><input type="text" name="tanka1"></th>
            <th><input type="text" name="jistutanka1"></th>
            <th><input type="text" name="tatene1"></th>
            <th><input type="text" name="tokune1"></th>
            <th><input type="text" name="hoten1"></th>
            <th><div id="margin1"></div></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group2"></th>
            <th><input type="text" name="customer2"></th>
            <th><input type="text" name="maker2"></th>
            <th><input type="text" name="code2"></th>
            <th><input type="text" name="product2"></th>
            <th><input type="text" name="tanka2"></th>
            <th><input type="text" name="jistutanka2"></th>
            <th><input type="text" name="tatene2"></th>
            <th><input type="text" name="tokune2"></th>
            <th><input type="text" name="hoten2"></th>
            <th><input type="text" name="margin2"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group3"></th>
            <th><input type="text" name="customer3"></th>
            <th><input type="text" name="maker3"></th>
            <th><input type="text" name="code3"></th>
            <th><input type="text" name="product3"></th>
            <th><input type="text" name="tanka3"></th>
            <th><input type="text" name="jistutanka3"></th>
            <th><input type="text" name="tatene3"></th>
            <th><input type="text" name="tokune3"></th>
            <th><input type="text" name="hoten3"></th>
            <th><input type="text" name="margin3"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group4"></th>
            <th><input type="text" name="customer4"></th>
            <th><input type="text" name="maker4"></th>
            <th><input type="text" name="code4"></th>
            <th><input type="text" name="product4"></th>
            <th><input type="text" name="tanka4"></th>
            <th><input type="text" name="jistutanka4"></th>
            <th><input type="text" name="tatene4"></th>
            <th><input type="text" name="tokune4"></th>
            <th><input type="text" name="hoten4"></th>
            <th><input type="text" name="margin4"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group5"></th>
            <th><input type="text" name="customer5"></th>
            <th><input type="text" name="maker5"></th>
            <th><input type="text" name="code5"></th>
            <th><input type="text" name="product5"></th>
            <th><input type="text" name="tanka5"></th>
            <th><input type="text" name="jistutanka5"></th>
            <th><input type="text" name="tatene5"></th>
            <th><input type="text" name="tokune5"></th>
            <th><input type="text" name="hoten5"></th>
            <th><input type="text" name="margin5"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group6"></th>
            <th><input type="text" name="customer6"></th>
            <th><input type="text" name="maker6"></th>
            <th><input type="text" name="code6"></th>
            <th><input type="text" name="product6"></th>
            <th><input type="text" name="tanka6"></th>
            <th><input type="text" name="jistutanka6"></th>
            <th><input type="text" name="tatene6"></th>
            <th><input type="text" name="tokune6"></th>
            <th><input type="text" name="hoten6"></th>
            <th><input type="text" name="margin6"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group7"></th>
            <th><input type="text" name="customer7"></th>
            <th><input type="text" name="maker7"></th>
            <th><input type="text" name="code7"></th>
            <th><input type="text" name="product7"></th>
            <th><input type="text" name="tanka7"></th>
            <th><input type="text" name="jistutanka7"></th>
            <th><input type="text" name="tatene7"></th>
            <th><input type="text" name="tokune7"></th>
            <th><input type="text" name="hoten7"></th>
            <th><input type="text" name="margin7"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group8"></th>
            <th><input type="text" name="customer8"></th>
            <th><input type="text" name="maker8"></th>
            <th><input type="text" name="code8"></th>
            <th><input type="text" name="product8"></th>
            <th><input type="text" name="tanka8"></th>
            <th><input type="text" name="jistutanka8"></th>
            <th><input type="text" name="tatene8"></th>
            <th><input type="text" name="tokune8"></th>
            <th><input type="text" name="hoten8"></th>
            <th><input type="text" name="margin8"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group9"></th>
            <th><input type="text" name="customer9"></th>
            <th><input type="text" name="maker9"></th>
            <th><input type="text" name="code9"></th>
            <th><input type="text" name="product9"></th>
            <th><input type="text" name="tanka9"></th>
            <th><input type="text" name="jistutanka9"></th>
            <th><input type="text" name="tatene9"></th>
            <th><input type="text" name="tokune9"></th>
            <th><input type="text" name="hoten9"></th>
            <th><input type="text" name="margin9"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group10"></th>
            <th><input type="text" name="customer10"></th>
            <th><input type="text" name="maker10"></th>
            <th><input type="text" name="code10"></th>
            <th><input type="text" name="product10"></th>
            <th><input type="text" name="tanka10"></th>
            <th><input type="text" name="jistutanka10"></th>
            <th><input type="text" name="tatene10"></th>
            <th><input type="text" name="tokune10"></th>
            <th><input type="text" name="hoten10"></th>
            <th><input type="text" name="margin10"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group11"></th>
            <th><input type="text" name="customer11"></th>
            <th><input type="text" name="maker11"></th>
            <th><input type="text" name="code11"></th>
            <th><input type="text" name="product11"></th>
            <th><input type="text" name="tanka11"></th>
            <th><input type="text" name="jistutanka11"></th>
            <th><input type="text" name="tatene11"></th>
            <th><input type="text" name="tokune11"></th>
            <th><input type="text" name="hoten11"></th>
            <th><input type="text" name="margin11"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group12"></th>
            <th><input type="text" name="customer12"></th>
            <th><input type="text" name="maker12"></th>
            <th><input type="text" name="code12"></th>
            <th><input type="text" name="product12"></th>
            <th><input type="text" name="tanka12"></th>
            <th><input type="text" name="jistutanka12"></th>
            <th><input type="text" name="tatene12"></th>
            <th><input type="text" name="tokune12"></th>
            <th><input type="text" name="hoten12"></th>
            <th><input type="text" name="margin12"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group13"></th>
            <th><input type="text" name="customer13"></th>
            <th><input type="text" name="maker13"></th>
            <th><input type="text" name="code13"></th>
            <th><input type="text" name="product13"></th>
            <th><input type="text" name="tanka13"></th>
            <th><input type="text" name="jistutanka13"></th>
            <th><input type="text" name="tatene13"></th>
            <th><input type="text" name="tokune13"></th>
            <th><input type="text" name="hoten13"></th>
            <th><input type="text" name="margin13"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group14"></th>
            <th><input type="text" name="customer14"></th>
            <th><input type="text" name="maker14"></th>
            <th><input type="text" name="code14"></th>
            <th><input type="text" name="product14"></th>
            <th><input type="text" name="tanka14"></th>
            <th><input type="text" name="jistutanka14"></th>
            <th><input type="text" name="tatene14"></th>
            <th><input type="text" name="tokune14"></th>
            <th><input type="text" name="hoten14"></th>
            <th><input type="text" name="margin14"></th>
        </tr>
        <tr>
            <th><input type="text" name="tanka_group15"></th>
            <th><input type="text" name="customer15"></th>
            <th><input type="text" name="maker15"></th>
            <th><input type="text" name="code15"></th>
            <th><input type="text" name="product15"></th>
            <th><input type="text" name="tanka15"></th>
            <th><input type="text" name="jistutanka15"></th>
            <th><input type="text" name="tatene15"></th>
            <th><input type="text" name="tokune15"></th>
            <th><input type="text" name="hoten15"></th>
            <th><input type="text" name="margin15"></th>
        </tr>
    </table>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tanka.js') }}"></script>


</body>

</html>